@using System.Security.Claims;
@using LearningPlatform.Models.Course;
@model Course


<h1>@Html.DisplayFor(model => model.Title)</h1>
<h4>@Html.DisplayFor(model => model.Description)</h4>

<div>
    @if (User.IsInRole("Admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.AuthorId)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit course</a>
    }
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>Related topics</p>
        </dt>
        <dd class="col-sm-10">
            <a href="@Url.Action("Index", "Courses", new { categoryId = Model.Category.Id })">
                @Model.Category.Name
            </a>
        </dd>
        <dt class="col-sm-2">
            <p>Created by</p>
        </dt>
        <dd class="col-sm-10">
            <p>
                <a href="@Url.Action("UserProfile", "Users", new { nickname = Model.Author.Nickname })">
                    @Model.Author.FirstName @Model.Author.LastName
                </a>
            </p>
        </dd>
        @if (ViewData["AverageRating"] != null)
        {
            <div id="average-rating">
                <strong> @ViewData["AverageRating"] </strong>
                <span>
                    @{
                        double averageRating = Convert.ToDouble(ViewData["AverageRating"]);
                        int fullStars = (int)averageRating;
                        double fractionalStar = averageRating - fullStars;
                        int numberOfStudents = Convert.ToInt32(ViewData["NumberOfStudents"]);
                    }
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= fullStars)
                        {
                            <span class="star" style="color: gold;">&#9733;</span>
                        }
                        else if (i == fullStars + 1 && fractionalStar > 0)
                        {
                            <span class="star" style="color: gold; position: relative;">
                                &#9733;
                                <span style="position: absolute; top: 0; left: 0; width: @(100 * fractionalStar)%; height: 100%; background-color: black; overflow: hidden;"></span>
                            </span>
                        }
                        else
                        {
                            <span class="star" style="color: gray;">&#9733;</span>
                        }
                    }
                </span>
                <span>
                    @if (ViewData["NumberOfReviews"] != null)
                    {
                        int numberOfReviews = Convert.ToInt32(ViewData["NumberOfReviews"]);
                        <span style="margin-left: 10px;">
                            @(numberOfReviews == 1 ? "(1 rating)" : $"({numberOfReviews} ratings)")
                        </span>
                    }
                    else
                    {
                        <span style="margin-left: 10px;">(No reviews yet)</span>
                    }
                </span>
                <span>
                    @(numberOfStudents == 1 ? "1 student" : $"{ViewData["NumberOfStudents"]} students")
                </span>
            </div>
        }
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {


        if (!ViewBag.isEnrolled)
        {
            <div>
                <strong>Price:</strong> @Model.Price zł
            </div>
            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                <input type="hidden" name="courseId" value="@Model.Id" />
                <button type="submit">Add to cart</button>
            </form>
        }
        else
        {
            <h3>

            <a href="@Url.Action("LessonContent", "Lesson", new { courseId = Model.Id })">Learn</a>
            </h3>
            @if (ViewBag.UserRating != null)
            {
                <p>Your current rating: @ViewBag.UserRating.Rating</p>
                <p>Your comment: @ViewBag.UserRating.Comment</p>
            }
            <div id="rate-section">
                <h3>Rate this course</h3>
                <div id="rating-stars">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <span class="star" data-value="@i" style="cursor:pointer;">
                            &#9733;
                        </span>
                    }
                </div>

                <textarea id="review-comment" placeholder="Write your review here..." style="display:none;"></textarea>
                <button id="submit-review" style="display:none;">Submit Review</button>
            </div>
        }
    }
    else
    {
        <p>Please log in to add this course to your cart or start learning.</p>
    }
</div>

<h3>Lessons</h3>
<ul>
    @if (Model.Lessons != null && Model.Lessons.Any())
    {
        foreach (var lesson in Model.Lessons)
        {
            <li>
                <strong>@lesson.Title</strong>
                @if (lesson.LessonContents != null && lesson.LessonContents.Any())
                {
                    foreach (var lessonContent in lesson.LessonContents)
                    {
                    <li>@lessonContent.Content</li>
                    }
                }
                else
                {
                <p>No content available for this lesson.</p>
                }
                @if (User.IsInRole("Admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.AuthorId)
                {
                @* <a class="btn btn-sm btn-warning" asp-action="EditLesson" asp-route-id="@lesson.Id">Edit</a>
                 <a class="btn btn-sm btn-danger" asp-action="DeleteLesson" asp-route-id="@lesson.Id">Delete</a>*@
                <a href="@Url.Action("Edit", "Lessons", new { id = lesson.Id })" class="btn btn-primary btn-sm">Edit Lesson</a>
                <a href="@Url.Action("Delete", "Lessons", new { id = lesson.Id })" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this lesson?')">Delete Lesson</a>
                }
            </li>
        }
    }
    else
    {
        <p>No lessons available for this course.</p>
    }
</ul>

@if (User.IsInRole("Admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.AuthorId)
{
    @* <a class="btn btn-success" asp-action="CreateLesson" asp-route-courseId="@Model.Id">Add Lesson</a> *@
    <a href="@Url.Action("Create", "Lessons", new { courseId = Model.Id })" class="btn btn-success">Create New Lesson</a>

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        let selectedRating = 0;
        const previousComment = "@ViewBag.UserRating?.Comment";

        $('.star').click(function () {
            selectedRating = $(this).data('value');
            $('.star').each(function () {
                if ($(this).data('value') <= selectedRating) {
                    $(this).css('color', 'gold');
                } else {
                    $(this).css('color', 'black');
                }
            });
            $('#review-comment').val(previousComment);
            $('#review-comment').show();
            $('#submit-review').show();
        });

        $('#submit-review').click(function () {
            const comment = $('#review-comment').val();
            const courseId = @Model.Id;
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Courses/Rate',
                method: 'POST',
                headers: {
                    RequestVerificationToken: token
                },
                data: {
                    courseId: courseId,
                    rating: selectedRating,
                    comment: comment
                },
                success: function () {
                    alert('Thank you for your review!');
                    $('#rate-section').hide();
                },
                error: function () {
                    alert('There was an error submitting your review. Please try again.');
                }
            });
        });
    });
</script> 